name: CI/CD Docker PHP

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Récupération du code
        uses: actions/checkout@v4

      - name: Connexion à Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build de l'image Docker
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/php-app:v1 .

      - name: Push de l'image Docker
        run: docker push ${{ secrets.DOCKER_USERNAME }}/php-app:v1
